@import "../../themes/generated/variables.base";

.down{
  .dx-tab {
    padding: 12px 16px;
    min-width: 90px;
    background-color: $base-accent;
    color: #f5f0f0;
  }
  .dx-tab .dx-icon{
    color: #f5f0f0;
  }
  .dx-tab.dx-state-hover {
   color: #be1e1e;
  }
  .dx-tab.dx-tab-selected
  {
    color: #ff5722;
    border-top: 6px solid;
  }
  .dx-tab.dx-tab-selected .dx-icon{
    color: #ff5722;
  }
  .dx-tab.dx-tab-selected::before {
position: absolute;
  }
}
.top{
  .dx-tab {
    padding: 10px;
    min-width: 12px;
    background-color:white;
    color: #3d5a80;
  }
  .dx-tab .dx-icon{
    color:  #3d5a80;
  }
  .dx-tab.dx-state-hover {
    color: #be1e1e;
  }
  .dx-tab.dx-tab-selected,
  .dx-tab.dx-tab-selected .dx-icon {
    color: #ff5722;
    border-top: 6px solid;
  }
  .dx-tab.dx-tab-selected::before {

  }
}